seven-segment-digit {
  display: inline-block;
  width: 10px;
  height: 20px;
  margin-right: -2px;
  padding:0px;
}

.seven-segment {
  position: relative;
  display: inline-block;
  /* --color-active: rgb(143, 153, 143); */
  --color-active: red;
  /* --color-inactive: green; */
  /* --color-inactive: rgb(0, 31, 0); */
  width: 9px;
  height: 18px;
  transform: scale(0.1)translate(-35px, -70px);
  margin-top: auto;
  margin-bottom: auto;
}

.segment {
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

.segment::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0px 0px 75px 10px var(--color-active); 
  transition: opacity 0.5s ease-in-out;
}

.segment.active {
  opacity: 1;
  /* transition: opacity 0.5s; */
}

.segment.active::after {
  opacity: 1;
}

.seven-segment .a {
  position: absolute;
  left: 5px;
  height: 0;
  width: 50px;
  border-top: 15px solid var(--color-active);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.seven-segment .a.active {
  border-top: 15px solid var(--color-active);
}

.seven-segment .b {
  position: absolute;
  left: 75px;
  top: 5px;
  height: 50px;
  width: 0;
  border-right: 15px solid var(--color-active);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.seven-segment .b.active {
  border-right: 15px solid var(--color-active);
}

.seven-segment .c {
  position: absolute;
  left: 75px;
  top: 90px;
  height: 50px;
  width: 0;
  border-right: 15px solid var(--color-active);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.seven-segment .c.active {
  border-right: 15px solid var(--color-active);
}

.seven-segment .d {
  position: absolute;
  top: 160px;
  left: 5px;
  height: 0;
  width: 50px;
  border-bottom: 15px solid var(--color-active);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.seven-segment .d.active {
  border-bottom: 15px solid var(--color-active);
}

.seven-segment .e {
  position: absolute;
  left: 0;
  top: 90px;
  height: 50px;
  width: 0;
  border-left: 15px solid var(--color-active);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.seven-segment .e.active {
  border-left: 15px solid var(--color-active);
}

.seven-segment .f {
  position: absolute;
  left: 0;
  top: 5px;
  height: 50px;
  width: 0;
  border-left: 15px solid var(--color-active);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.seven-segment .f.active {
  border-left: 15px solid var(--color-active);
}

.seven-segment .g {
  position: absolute;
  top: 80px;
  left: 5px;
}

.g .bottom {
height: 0;
width: 65px;
border-top: 7.5px solid var(--color-active);
border-left: 7.5px solid transparent;
border-right: 7.5px solid transparent;
}

.g.active .bottom {
  border-top: 7.5px solid var(--color-active);
}

.g .top {
  height: 0;
  width: 65px;
  border-bottom: 7.5px solid var(--color-active);
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
}

.g.active .top {
  border-bottom: 7.5px solid var(--color-active);
}